<div class="section" id="section-<%= section.id%>">
  <strong>
    <%= l(section.start_at, format: :hours) if section.start_at %>
    —
    <%= l(section.end_at, format: :hours) if section.end_at %>
  </strong>
  <br/>
  <span><%= section.teacher_subject.to_s %></span>
</div>
