<div class="section" id="section-<%= section.id%>">
  <strong>
    <%= section.start_at&.strftime('%H:%M') %>
    —
    <%= section.end_at&.strftime('%H:%M') %>
  </strong>
  <br/>
  <span><%= section.teacher_subject.to_s %></span>
</div>
