// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table td {
  input, select {
    width: 100%;
    box-sizing: border-box;
  }
}

.section {
  border: 1px solid #f0f0f0;
  padding: 4px 8px;
}
